@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_flud {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
p {
  font-size: 15px;
  font-family: "Bebas Neue", sans-serif;
  /* font-family: "Lora", serif; */
  margin-bottom: 25px;
  letter-spacing: 0.05em;
}
.mid button {
  font-family: "Bebas Neue", sans-serif;
  padding: 18px 28px;
  margin-top: 20px;
  color: #fff;
  border:2px solid #9fc4ce;
  font-weight: bold;
  font-size: 13px;
  border-radius: 8px;
  background-color: #9fc4ce;
  cursor: pointer;

}
.mid button:hover{
  background-color: white;
  color:#9fc4ce ;
  transition: 0.5s;
}
li{
  list-style: none;
}
h1,
h2,
h5 {
  font-family: "Lora", serif;
}
.navbar {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.textCenter{
  text-align: center;
}
.header {
  width:100%;
  /* z-index: 999999;
  position: fixed; */
  background: rgb(93, 93, 93);
}

.logo img {
  width: 80px;
  margin: 0px 50px;
  padding-top: 10px;
}
.menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.menu ul a {
  display: block;
  text-decoration: none;
  padding: 0px 20px;
  margin: 34px 10p;
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: sans-serif;
  /* cursor: pointer; */
}
.menu ul a:hover {
  color: #9fc4ce;
  /* text-decoration: underline; */
  transition: 0.5s;
}

.login {
  display: flex;
}
.login img {
  width: 20px;
  margin: 20px 5px;
  padding: 0px 2px;
}
.btn button {
  padding: 18px 40px;
  margin-right: 25px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 13px;
  font-family: sans-serif;
}

/* navigation end */

.banner {
  background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../img/banner_2.jpg") no-repeat center center/cover;
  padding: 165px 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 50px; */
  color: #fff;
  /* margin-top: 125px; */
}
#navbar{
  position: fixed;
}
/* ------------------toggle--------------- */

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 4px;
  transition: 0.5s;
  top: 19px;
  background-color: #fff;
  right: 8px;
  padding: 0;
}

.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
}

.toggle.active span:nth-child(1) {
  width: 25px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
  transform: translateY(10px);
  width: 25px;
}

.toggle.active span:nth-child(2) {
  width: 25px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

.menulink {
  background: rgb(93, 93, 93);
  padding: 20px 0;
  width: 60%;
  display: block;
  position: absolute;
  right: -500px;
  transition: 0.5s;
  top: 60px;
  li {
    padding: 10px 0;
  }
}

.toggle_icon {
  display: none;
  /* } */
}

/* ------------------toggle-end-------------- */
.head_1 {
  font-size: 108px;
  font-weight: 400;
}
.contact_us {
  margin-top: 50px;
  /* font-weight: bold; */
}
.contact_us a {
  text-decoration: none;
  color: #fff;
  /* font-family: "Bebas Neue", sans-serif; */
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.15em;
}
.home p {
  font-family: sans-serif;
  letter-spacing: 0.15em;
}
.container2 {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.first_image img {
  width: 100%;
  /* margin: 0px 500px; */
  padding: 0px 15px;
}
.mid {
  padding: 0px 15px;
  width: 100%;
}
.mid h5 {
  font-size: 20px;
  color: rgb(213, 170, 253);
  margin-bottom: 20px;
  font-weight: 400;
}

.mid h1 {
  font-size: 48px;
  /* background-color: rgb(225, 201, 247); */
  padding: 10px 0px;
  margin-bottom: 30px;
}

.aboutus {
  padding: 100px 0;
}

.aboutus .container2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.aboutus .container2 > div {
  width: 28%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus .container2 .mid {
  width: 50%;
}

.contactus {
  background: url("../img/feximage.jpg") no-repeat center center/cover;
  padding: 165px 0px;
  background-attachment: fixed;
}
.contactus .container2 {
  color: #fff;
  text-align: center;
}
.contactus .container2 h5 {
  font-size: 16px;
  font-family: sans-serif;

  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 0.15em;

  /* padding-bottom: 16px; */
}
.contactus .container2 h1 {
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 400;
}
.menubar {
  padding: 110px 0px;
  /* text-align: center; */
}
.menubar h5 {
  font-size: 16px;
  font-family: sans-serif;
  color: #9fc4ce;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 0.15em;
}
.menubar h1 {
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 400;
  margin-bottom: 48px;
}
.menubar p {
  font-family: sans-serif;
  margin: 0px 264px;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.foodmenu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foodmenu ul a {
  display: block;
  text-decoration: none;
  padding: 50px 40px;
  /* margin: 34px 10p; */
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.foodmenu ul a:hover {
  color: #9fc4ce;
  text-decoration: underline;
}
.menubar .menu_deatil ul{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  
}
.menubar .menu_deatil ul li{
  border-bottom: 1px dotted rgb(45, 45, 45);
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.menubar .menu_deatil .priceing{
  font-weight: bold;
  font-size: 16px;
  font-family: "Lora", serif;
  font-style: italic;
}
.menubar .menu_deatil h4{
  font-size: 16px;
  font-family: "Lora", serif;
  padding: 10px 0px;
  font-weight: 700;
  letter-spacing: 0.03em;

}
.menubar .menu_deatil .menu-text{
  font-style: italic;
  font-size: 16px;
  /* padding-bottom:10px ; */
  /* margin-bottom:10px ; */

}
.prasnal_plase{
  background: url("../img/restaurant-interior.jpg")no-repeat center center/cover;
  padding: 150px 0px;
  background-attachment: fixed;
}
.prasnal_plase .container2 h4{
  font-size: 16px;
  font-family: sans-serif;
color: #fff;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 0.15em;
}
.prasnal_plase .container2 h1{
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #fff;

}
.team{
  padding: 80px 0px;
  
}
.team .container2{
  display: flex;
  justify-content: space-between;
  /* margin: 0px  0px; */
  gap: 10px;
}
.team .container2 .team_deatils{
  width: 50%;
  text-align: center;
}
.team  .img img{
  width: 45%;
}
.team  .img{
  width: 50%;
  gap: 50px;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.team_deatils {
  padding: 50px 0px;
  /* width: 100%; */
}
.team_deatils h5 {
  font-size: 16px;
  color: rgb(213, 170, 253);
  margin-bottom: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

.team_deatils h1 {
  font-weight: 400;
  font-size: 48px;
  /* background-color: rgb(225, 201, 247); */
  padding: 10px 0px;
  margin-bottom: 48px;
}

.team_deatils button {
  font-family: "Bebas Neue", sans-serif;
  padding: 18px 30px;
  margin-top: 20px;
  color: #fff;
  border:2px solid #9fc4ce;
  font-weight: bold;
  font-size: 13px;
  border-radius: 8px;
  background-color: #9fc4ce;
  cursor: pointer;

}
.team_deatils button:hover{
  background-color: white;
  color:#9fc4ce ;
  transition: 0.5s;
}
.team_deatils p{
  font-size: 17px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 25px;
  letter-spacing: 0.10em;
  line-height: 25px;
}
.clients{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../img/top-view-food-frame-with-copy-space.jpg") no-repeat center center/cover;
  padding: 80px 0px;
  background-attachment: fixed; 
}
.clients .container2 {
  color: #fff;
  text-align: center;
}
.clients .container2 h5 {
  font-size: 16px;
  font-family: sans-serif;

  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 0.15em;
  
  /* padding-bottom: 16px; */
}
.clients .container2 h1 {
  margin-bottom: 48px;
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.5em;
  
}
.clients .container2 p{
  line-height: 1.5em;
  font-size: 26px;
  /* font-family: "Lora", serif; */
  font-style: italic;
  font-family: sans-serif;
  margin-bottom: 48px;
  padding: 0px 100px;
}
.clients .container2 h6{
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 16px;
  border-top: 2px solid white;
  margin: 0px 600px;
  font-weight: 400;
}
.client_detail .head_top {
  text-align: center;

}
.client_detail .container2  {
  display: flex;
  width: 100%;
  
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 10px;
}
.client_detail {
  padding: 100px 100px;

  /* margin: 0px 110px; */
  
}
.client_detail .coloum {
  text-align: center;

}
.client_detail .coloum input{
padding: 16px 16px;
  margin: 30px 25px 24px;
  width: 380px;
  height: 50px;
  font-size: 100%;
  border: none;
  background-color: #f2f2f2;
}
.client_detail .message textarea{
  width: 95%;
  font-size: 135%;
  margin-bottom:25px;
padding: 16px 16px;
border: none;
background-color: #f2f2f2;
}
.client_detail .bottom_btn{
  text-align: center;
}

.client_detail .head_top h5 {
  font-size: 16px;
  font-family: sans-serif;
color: #9fc4ce;
  font-weight: 400;
  margin-bottom: 16px;
  
  letter-spacing: 0.15em;
  /* padding-bottom: 16px; */
}
.client_detail .head_top h1 {
  margin-bottom: 48px;
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.5em;
  
}
.client_detail .container2 h4{
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 32px;
}
.client_detail .container2 p{
  /* letter-spacing: 0.10em; */
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
  /* padding: 0px 15px; */

}

.client_detail .container2 .user_detali{
  padding: 0px 30px;
}
.client_detail .bottom_btn button{
  font-size: 13px;
  letter-spacing: 0.15em;
  font-weight: 600;
  /* display: inline-block; */
  color: #ffffff;
  border: 2px solid #9fc4ce;
  padding: 20px 24px;
  background: #9fc4ce;
  cursor: pointer;
  border-radius: 8px;
  
}
.client_detail .bottom_btn button:hover{
  background-color: white;
  color:#9fc4ce ;
  transition: 0.5s;

}
.footer{
  background-color: black;
  color: #999999;
  padding-top: 50px;
  font-size: 16px;

  
}
.footer .container2 .food_address{
  display: flex;
  justify-content: space-between;
 /* text-align: center; */
}

.footer .food_address>div{
  width: 50%;

}
.footer .food_address p{
  font-size: 16px;
  /* font-family: sans-serif; */
  font-family: Work Sans, sans-serif;
  /* line-height: 50px; */
}
.footer .food_address h5{
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  margin-bottom: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: white;
  
}
.footer .food_address img{
  width: 90px;
  /* margin-bottom: 24px; */
  /* padding-bottom:100px; */
}
.footer .food_address span{
  letter-spacing: 0.05em;
  font-size: 16px;
  font-family: Work Sans, sans-serif;
  line-height: 25px;
}
.footer .end{
  letter-spacing: 0.05em;
  /* margin: 50 px 50px; */
  padding: 30px 85px;
  font-size: 12px;
}



/* -----------responsive-------------------------------------------------------------------------------------- */

@media(max-width:426px){
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  .container .navbar {
    display: flex;
    justify-content: space-between;
  }
  .container .navbar .logo {
    width: 100%;
  }
  .container .navbar .logo img{
    width: 3rem;
    margin: 0;
    position: relative;
  }
  .container .navbar .menu {
    order: 3;
    padding: 10px 0;
  
  }
  .container .navbar .menu ul a {
    font-size: .6rem;
    width: 100%;

    padding: 0 7px;
  }
  .container .navbar .login{
    order: 1;
    margin: 0;
    right: 165px;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    position: absolute;
  }
  .container .navbar .login .btn button{
    margin: 0;
   padding: 8px 10px;
   font-size: 11px;

  }
  /* -----------end navbar-------------------------------------------- */

  .banner{
    padding: 100px 0 30px 0;
    width: 100%;
  }
  .banner .container_flud{
    padding: 0 2rem;
    
  }
  .banner .container_flud .home h1{
    font-size: 6rem;
  }
  .banner .container_flud .home p{
    text-align: center;
    width: 100%;
  }
  /* ----------end banner-------------------------------------------------- */
   
  .aboutus .container2{
    padding: 0 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
 
  .aboutus .container2 .first_image img{
    padding: 0;
  }
  .aboutus .container2 .first_image{
    order: 3;
    width: 100%;
  }
  .aboutus .container2 .mid{
    order: 1;
    width: 100%;
    padding: 0;
  }
  .aboutus .container2 .mid h1{
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .aboutus .container2 .mid button{
    padding: 10px;
    font-size: 12px;
    margin: 0;
  }
  /* ----------------end aboutus ----------------------------------------- */

  .contactus{
    padding: 60px 0;
  }
  .contactus .container2 h1{
    width: 100%;
    font-size: 2.5rem;
  }
  /*----------end .contactus-------------------------------------------------  */
  .menubar .container{
    padding: 0 2rem;
    
  }
  .menubar .container h1{
    margin-bottom: 20px; 
  }
  .menubar .container p{
    width: 100%;
    margin: 0;
  }
  .menubar .container .foodmenu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .menubar .container .foodmenu ul a{
    /* width: 100%; */
    padding: 25px 0  ;
    font-size: 13px;
  }
  /* ------------end menubar---------------------------------------------- */
  
  .prasnal_plase{
    padding: 60px 0;
  }
  .prasnal_plase .container2 h1{
    font-size: 2.5rem;
  }
  /* ------------end prasnal_plase---------------------------------------------- */
  .team .container2 {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    
  }
  .team .container2 .team_deatils h1{
    /* display: block; */
    width: 20rem;
    text-align: start;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .team .container2 .team_deatils {
    width: 100%;
    text-align: start;
  }
  .team .container2 .team_deatils button {
    padding: 10px;
    margin: 0;
  }
  .team .container2 .img img{
    /* width: 11rem; */
  }
  .team .container2 .img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  /* ---------------------end team------------------------------------------------- */

  .clients{
    padding: 50px 0;
    
  }
  .clients .container2 h6{
    margin: 0 150px;
    padding: 5px 0;
  }
  .clients .container2 {
  padding: 0 2rem;
  }
  .clients .container2 h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .clients .container2 p{
    width: 100%;
    padding: 0;
    font-weight: 400;
    /* margin: 0; */
    font-size: 16px;
    line-height: normal;
  }
  /* ------------end clients------------------------------------------- */
   
  .client_detail{
    padding: 3rem 2rem;

  }
  .client_detail .head_top h1{
    font-size: 2.5rem;
  }
  .client_detail .container2{
    display: flex;
    flex-direction: column;
    
  }
  .client_detail .container2 .user_detali{
    padding: 0;
    
  }
  .client_detail .container2 .user_detali h4{
    font-size: 17px;
    font-weight: bold;
  }
  .client_detail .coloum {
    width: 100%;

  }
  .client_detail .coloum input{
    margin: 10px 0;
  }
  .client_detail .bottom_btn button{
    padding: 12px;
  }
  /* -----------------end client detail------------------------------------- */

.footer .container2{
  padding: 0 2rem;
  
}
.footer .container2 .food_address .last_logo img{
  width: 90%;
  height: 90%;
}
.footer .container2 .food_address .last_logo {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content:center ;
  align-items: center;
}


.footer .container2 .food_address h5 {
  margin: 10px 0;
}
.footer .container2 .food_address {
  display: flex;
  flex-direction: column;
}
.footer .container2 .food_address>div {
  width: 100%;
}
.footer  .end{
  border-top: 1px solid white;
  padding: 10px 0;
  text-align: center;
}
.toggle_icon {
  display:block;
}
.menu{
  display: none;
}

.menulink ul{

text-align: center;
}
 a{
  color: #fff;
  /* text-decoration: none; */
}
.team .img img {
  width: 100%;
}
.client_detail .coloum input {
  width: 100%;
}
.client_detail .message textarea {
  width: 100%;
}
.team {
  padding: 30px 0px;
}
.team_deatils {
  padding: 0px 0px;
  /* width: 100%; */
}
.aboutus {
  padding: 30px 0;
}
.menubar {
  padding: 30px 0px;
  /* text-align: center; */
}
.footer {
  padding-top: 30px;
}
}

@media(max-wdth:376px) {

  
}